@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic');

* {
    font-family: 'Gentium Book Basic', serif;
    line-height: 1.5rem;
    max-width: 500px;
}

html {
    height: 100%;
}

strong {
    font-size: 1.2rem;
}

#container {
    margin: 0 0.5rem;
}
